kind: ServiceMonitor
apiVersion: monitoring.coreos.com/v1
metadata:
  name: backend-monitor
  namespace: monitoring
  labels:
    app: backend
    release: monitoring
spec:
  selector:
    matchLabels:
      app: backend
  namespaceSelector:
    matchNames:
      - stackbridge-lab
  endpoints:
    - port: http
      path: /metrics
      interval: 30s
